
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script type="text/javascript" src="static/js/regra3.js"></script>

    <title>O Preço do Pão de Barbada</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/estilo.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Qual peso do pão em gramas?</h1>
      <input type="number" id="peso" class="form-control" placeholder="Peso (g)" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" onclick="calcular()">Calcular</button>
	  <p id="valor" class="h3 mb-3 font-weight-normal"></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2018 LSK Soluções</p>
    </div>
  </body>
</html>